{% load static %}
{% load bootstrap4 %}


<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap-icons.css' %}" rel="stylesheet">
        <title>Productos - Plantástico</title>
        <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/x-icon">
    </head>

    <body>     
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">   
            <div class="container-fluid">
                <br>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <h3><img src="{% static 'assets/logo.png' %}" alt="Logo" class="tamannio_logo">Plantástico</h3>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="donacion">Donaciones</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="..." role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="plantas">Plantas</a></li>
                            <li><a class="dropdown-item" href="maceteros">Maceteros</a></li>
                            <li><a class="dropdown-item" href="accesorios">Accesorios</a></li>
                            <li><a class="dropdown-item" href="productos">Ver todo</a></li>
                            <!--Aquí podríamos poner un "Nosotros" y poner el contexto del negocio-->
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <!--Carrito de compras-->
                        <a href="carritovacio" class="btn">
                            <h3><i class="bi bi-cart3"></i></h3>
                        </a>
                        <br>
                        <!--Inicio de sesión-->  
                        <a type="button" href="iniciosesion" class="btn btn-outline-success"
                        style="margin-right: 2%;">
                            <i class="bi bi-person-circle"></i> Hola @usuario!
                        </a>
                        <!--API creación de producto-->
                        <a type="button" href="{% url 'registrarproducto' %}" class="btn btn-outline-success"
                        style="margin-right: 2%;">
                            <i class="bi bi-bag-plus-fill"></i> Ingresar nuevo producto
                        </a>
                    </form>
                </div>
            </div>
        </nav> 
        <div>
            <br>
        </div>
    
        <!--Mensaje registro exitoso-->
        <div class="card id=#id_mensaje_sesion">
            <div class="card-body">
                <h1>Producto registrado correctamente :)</h1>
                <br>
            </div>  
            <div class="mb-3">
                <div class="mb-3" style="text-align: center;">
                    <div>
                        <a href="{% url 'inicioSesion' %}" id="btn_index" class="btn btn-success ">
                            Volver a inicio
                        </a>
                    </div>   
                </div>  
            </div>
        </div>
    

        <!--Modal Inicio sesión-->
        <div class="modal fade" id="mdl_inicioSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresar </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
    
                        <div class="modal-body">
                            <p class="alert alert-warning" role="alert" id="div_validacion"></p>
                            <div class="mb-3">
                                <label for="idcorreo" class="form-label">Correo Electrónico</label>
                                <input type="text" class="form-control" id="idcorreo" placeholder="nombre@correo.com">
                            </div>
                            <div class="mb-3">
                                <label for="idclave" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="idclave" placeholder="Contraseña">
                            </div>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success" id="btnIngresar" onclick="ingresarSesion()">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!--Footer-->
        <div class="b-example-divider"></div>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">  
                © 2023 Copyright
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram" ></i></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-whatsapp"></i></a></li>
            </ul>
            </footer>
        </div>

        <!--Scripts-->
        <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'funciones.js' %}"></script>
        <script src="{% static 'jquery.min.js' %}"></script>
        <script src="{% static 'sweetalert2@11.js' %}"></script>
        <script src="{% static 'validaciones_registro.js' %}"></script>
        <script src="{% static 'validaciones_sesion.js' %}"></script>
    </body>
</html>